.App-header {
  box-sizing: border-box;
  display: flex;
  padding: 6rem 12rem 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.App-header-fixed {
  align-items: center;
  background-color: white;
  display: flex;
  left: 0;
  padding: 2.2rem 4.2rem;
  position: fixed;
  transition: background-color 0.3s ease-in-out;
  right: 0;
  width: 100%;
}

.App-header-fixed .Logo {
  border-radius: 8px;
  height: 7.8rem;
  width: 7.8rem;
  transition: width, height 0.3s ease-in-out;
}

.Logo {
  border-radius: 24px;
  transition: width, height 0.3s ease-in-out;
}

.Dowel {
  margin-left: 24px;
  width: 120px;
}

.Nav-link-list {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  list-style: none;
  padding-top: 1rem;
}

.Nav-link-list li {
  margin-left: 5.6rem;
}

.Nav-link-list a {
  color: #000000;
  text-decoration: none;
}

.App-header-fixed .Nav-add-to-slack {
  align-items: center;
  background: #18ff90;
  border-radius: 10rem;
  border: 3px solid #282846;
  color: #fff618;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  height: 6.4rem;
  justify-content: center;
  padding: 1rem 5rem;
  position: fixed;
  right: 4rem;
  text-decoration: none;

  width: 23rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.Nav-add-to-slack {
  display: none;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
