.Top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 12rem;
}

.Top-title {
  background: #007aff;
  border-radius: 0 4rem 4rem 4rem;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  height: 28rem;
  line-height: 5rem;
  margin: 0 0 10.4rem 18rem;
  padding: 3.2rem;
  text-align: left;
  width: 50%;
}

.Top-add-to-slack {
  align-items: center;
  align-self: flex-end;
  background: #18ff90;
  border-radius: 10rem;
  border: 3px solid #282846;
  color: #fff618;
  display: flex;
  font-size: 3.2rem;
  font-weight: 900;
  height: 8rem;
  justify-content: center;
  padding: 1rem 5rem;
  text-decoration: none;
  width: 25%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
