.Intro {
  background-color: #eafd9f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 14rem 12rem 2.4rem 12rem;
  padding-top: 14rem;
}

.Intro > h2 {
  font-size: 4rem;
}

.Intro > h3 {
  font-size: 1.6rem;
  margin: 0 auto 2.8rem auto;
  width: 40%;
}

.Intro-content {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}

.Intro-content > article {
  background-color: #fff6e1;
  border: 4px #000000 solid;
  border-radius: 20px;
  padding: 2.4rem 3.2rem;
  width: 27%;
}
