.Intro {
  background-color: #ccffe7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 14rem 12rem 3rem 12rem;
}

.Intro-title {
  display: flex;
  margin: 0 auto 2.8rem auto;
}

.Intro-title > h2 {
  flex: 1;
  font-size: 4rem;
}

.Intro-title-list {
  flex: 2;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 140%;
  text-align: left;
}

.Intro-title-list li:last-child {
  list-style: none;
  margin-top: 1.6rem;
}

.Intro-content {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}

.Intro-content-article {
  background-color: #fffeda;
  border: 4px #000000 solid;
  border-radius: 20px;
  margin-bottom: 10rem;
  padding: 2.4rem 3.2rem;
  text-align: left;
  width: 27%;
}

.Intro-content-article > img {
  width: 100%;
}

.Intro-content-article > h4 {
  font-size: 3.2rem;
  font-weight: bold;
}

.Intro-content-article > p {
  font-size: 1.4rem;
  font-weight: bold;
}
